:root {
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #6c63ff;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 170px 50px;
  background-color: #f9f7fe;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}

.hero h1 {
  font-size: 96px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  color: #272142;
  margin: 0;
}

.hero a {
  background-color: var(--primary-color);

  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-name {
  font-size: 64px;
}

.btn-learn-more {
  border-radius: 4px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.about-image {
  width: 550px;
  border-radius: 20px;
}

.content-container {
  margin: 130px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 1.2;
}

.content-container h2 {
  font-size: 18px;

  font-family: var(--default-font-family);
  font-weight: bold;
}

.content-container h3 {
  font-size: 24px;
  font-weight: bold;
}

.about-button {
  color: white;
  background-color: var(--primary-color);
  padding: 15px 30px;
  font-size: 18px;
}

.pizza-image {
  margin-bottom: 75px;
}

@media (max-width: 768px) {
  .project-name {
    font-size: 40px;
  }

  .hero {
    padding: 80px 25px;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero p {
    margin-bottom: 20px;
  }

  .about-description {
    text-align: center;
  }

  .about-description h1 {
    font-size: 55px;
  }

  .content-container h1 {
    font-size: 55px;
    text-align: center;
  }

  .pizza-image {
    margin-bottom: 30px;
  }
}
