:root {
  --default-font-family: "Source Code Pro", monospace;
  --primary-color: #a4303f;
  --secondary-color: #fffacc;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 80px;
  background-color: var(--secondary-color);
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}

.hero h1 {
  font-size: 96px;
}

.hero p {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  font-weight: 700;
  color: #272142;
  margin: 0;
}

.btn-contact {
  background-color: var(--primary-color);

  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-name {
  font-size: 64px;
}

.btn-learn-more {
  border-radius: 4px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.about-image {
  width: 550px;
  border-radius: 20px;
}

.content-container {
  margin: 50px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 1.2;
}

.content-container h2 {
  font-size: 18px;

  font-family: var(--default-font-family);
  font-weight: bold;
}

.content-container h3 {
  font-size: 24px;
  font-weight: bold;
}

.about-button {
  color: white;
  background-color: var(--primary-color);
  padding: 15px 30px;
  font-size: 18px;
}

.about-description {
  margin-bottom: 50px;
}

.logo {
  max-width: 60px;
}

.active {
  color: var(--primary-color) !important;
}

.email-link {
  font-size: 24px;
}

.email-link a {
  color: black;
}

.email-link a:hover {
  color: var(--primary-color);
}

.social-link a {
  color: var(--primary-color);
  font-size: 20px;
  margin: 0 30px;
  background-color: var(--secondary-color);
  padding: 15px 20px;
  border-radius: 50%;
}

.social-link a:hover {
  background-color: var(--primary-color);
  color: white;
}

.contact-box {
  padding: 25px 100px;
  background-color: var(--secondary-color);
  margin: 200px 0 50px;
  border-radius: 10px;
}

.contact-box h3 {
  font-size: 48px;
}

.weather-app {
  padding: 126.5px 0;
}

.pizza-image {
  padding: 146px 0;
}

.sushi-project,
.weather-app,
.pizza-image,
.petitions-project {
  border: 1px solid grey;
  border-radius: 10px;
}

.sushi-project:hover,
.weather-app:hover,
.pizza-image:hover,
.petitions-project:hover {
  border: 5px solid grey;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .project-name {
    font-size: 40px;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero p {
    margin-bottom: 20px;
  }

  .about-description {
    text-align: center;
  }

  .about-description h1 {
    font-size: 55px;
  }

  .content-container h1 {
    font-size: 55px;
    text-align: center;
  }

  .pizza-image {
    margin-bottom: 30px;
  }

  .contact-box {
    padding: 25px 20px;
    margin-top: 100px;
  }

  .contact-box h4 {
    font-size: 30px;
  }

  .social-link a {
    margin: 0 20px;
  }
}
